.form-factor__list {
  @include reset-list;

  display: flex;
  flex-wrap: wrap;
  padding: 27px 25px 20px;
  background-color: $white;
}

.form-factor__item {
  margin-right: 30px;
  margin-bottom: 10px;
  padding-left: 33px;
}

.form-factor__label {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: $real-black;
  position: relative;
  cursor: pointer;
}

.form-factor__label::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  border: 1px solid $border-checkbox;
  top: -3px;
  left: -33px;
}

.form-factor__item:hover .form-factor__label::before {
  border-color: $real-black;
}

.form-factor__input:checked + label::after {
  content: "";
  position: absolute;
  top: 2px;
  left: -29px;
  width: 16px;
  height: 12px;
  background-repeat: no-repeat;
  background-image: url("../img/icons/icon-check.svg");
}
