$white: #ffffff;
$black: #333333;
$grey: #e5e5e5;
$button-grey: #ebebeb;
$border-grey: #cecece;
$orange: #eb551a;
$orange-hover: #df4305;
$mobile-width: 768px;
$real-black: #000000;
$border-checkbox: #7d7d7d;
